@model IEnumerable<MGVGBlog.Models.Comments>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@foreach (var item in Model) {
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayFor(modelItem => item.Post.Title)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => item.Text)
        </dd>

        <dd>
            @Html.DisplayFor(modelItem => item.Date)
        </dd>

        <dd>
            @Html.DisplayFor(modelItem => item.Points)
        </dd>

        <dd>
            @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
            @Html.ActionLink("Details", "Details", new {id = item.Id}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.Id})
        </dd>
    </dl>
    <hr />
}

</table>
