@using MGVGBlog.Models
@model MGVGBlog.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <h1>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
        </h1>
        <i>
            <dd>
                Posted on:
                @Html.DisplayFor(model => model.Date)
            </dd>
        </i>
        <br />

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dd>
            <i>
                <br />
                with regards:
                <a href="/ApplicationUsers/Details/@Html.ValueForModel(Model.Author.Id)">@Html.DisplayFor(model => model.Author.UserName)</a>
            </i>
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dd>
            <h4><span class="badge">@ViewBag.commentsCount</span> Comments:</h4>
            <span>
                <h3>
                    @Html.ActionLink("New Comment", "Create", "Comments")
                </h3>
            </span>
            <div class="border">
                @foreach (var comment in ViewBag.comments)
                {

                    <div class="comment-meta">
                        @if (comment != null)
                        {
                            <p><a href="/ApplicationUsers/Details/@Html.ValueForModel(Model.Author.Id)">@comment.Author.UserName</a>
                            </p>
                            <p>@comment.Text</p>
                            <a href="Oshte ne e gotovo" class="glyphicon glyphicon-thumbs-up"></a>
                            <a href="Oshte ne e gotovo" class="glyphicon glyphicon-thumbs-down"></a>
                            <span class="date">
                                <span class="glyphicon glyphicon-time"></span>
                                <small>@comment.Date</small>
                            </span>
                        }
                    </div>
                    <hr/>
                }
            </div>
        </dd>
    </dl>
</div>
<p>
    @if (Model.Author.UserName == User.Identity.Name || User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
    |
    @Html.ActionLink("Back to List", "Index") |
    <a href="/Comments/Create">Comment</a>
</p>
