@model MGVGBlog.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <h1>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
        </h1>
        <i>
            <dd>
                Posted on:
                @Html.DisplayFor(model => model.Date)
            </dd>
        </i>
        <br/>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dd>
            <i>
                <br/>
                with regards:
                @Html.DisplayFor(model => model.Author.UserName)
            </i>
        </dd>

    </dl>
    
</div>
<p>
    @if (Model.Author.UserName == User.Identity.Name || User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) 
    }
    |
    @Html.ActionLink("Back to List", "Index") |
    <a href="/Comments/Create">Comment</a>
</p>
