@using MGVGBlog.Controllers
@using MGVGBlog.Models
@using Microsoft.AspNet.Identity
@model MGVGBlog.Models.Post
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    $(document)
        .ready(function() {
            $('.file').hide();

            $('button.hide-show')
                .click(function() {
                    $('span.file', this.parentNode).slideToggle(0);
                    $(this).text($(this).text() == 'Reply' ? 'Reply' : 'Cancel');
                    $(this).toggleClass("active");
                    return false;
                });
        });
</script>
<span id="fb-root"></span>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=143058786140237";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <h1>
                @Html.DisplayFor(model => model.Title)
            </h1>
        </dd>
        <dd>
            <i>
                Posted on:
                @Html.DisplayFor(model => model.Date)
            </i>
            <br />
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dd>
            <i>
                <br />
                with regards:
                <a href="/ApplicationUsers/Details/@Html.ValueForModel(Model.Author.Id)">@Html.DisplayFor(model => model.Author.UserName)</a>
            </i>
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dd>
            <h4>Leave a Comment:</h4>
            @{
                if (User.Identity.IsAuthenticated)
                {
                    using (Html.BeginForm("Create", "Comments"))
                    {
                        @Html.AntiForgeryToken()
                        <textarea class="form-control-comment" rows="5" required name="Text"></textarea>
                        <br />
                        <button type="submit" class="btn btn-success">Submit</button>
                    }
                }
                else
                {

                    ViewBag.Title = "2";
                    ViewBag.ReturnUrl = "/Posts/Details/" + Model.Id;

                    <h2>
                        You must @Html.ActionLink("Login", "Login", new { area = "", controller = "Account", ReturnUrl = ViewBag.ReturnUrl }, new { id = "loginLink" })
                    </h2>
                }
            }

            <br><br>

            <p><span class="badge">@ViewBag.commentsCount</span> Comments:</p>
            <div class="border">
                @foreach (var comment in ViewBag.comments)
                {

                    <div class="comment-meta">
                        @if (comment != null)
                        {
                            {
                                var imgUrl = Url.Content("~/Content/images/profile/" + comment.Author.UserName + ".png" + "? time=" + DateTime.Now);
                                var imgDafault = Url.Content("~/Content/images/profile/dafault/default-profile-pic.gif");
                                <p>
                                    @{
                                        if (File.Exists(Server.MapPath("~/Content/images/profile/" + comment.Author.UserName + ".png")))
                                        {

                                            <a href="/ApplicationUsers/Details/@comment.Author.Id"><img class="img-circle" src="@imgUrl" height="45" width="45" alt="profile-user" /> @comment.Author.UserName</a>
                                        }
                                        else
                                        {

                                            <a href="/ApplicationUsers/Details/@comment.Author.Id"><img class="img-circle" src="@imgDafault" height="45" width="45" alt="profile-default" /> @comment.Author.UserName</a>
                                        }
                                    }
                                </p>
                                <p>@comment.Text</p>
                                <button class="hide-show">Reply</button>
                                <span class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true"></span>
                                <span class="date">
                                    <span class="glyphicon glyphicon-time"></span>
                                    <small>@comment.Date</small>
                                    <small>@comment.Id</small>
                                </span>
                                    <span class="file">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            // <a href="/Replies/Create/" data-action="Create" data-tid="2"> Replay</a>
                                            using (Html.BeginForm("Create", "Replies"))
                                            {
                                                @Html.AntiForgeryToken()
                                                <textarea class="form-control-comment" rows="4" required name="Text"></textarea>
                                                <input class="form-control-comment" type="hidden" value="@comment.Id" name="CommentId" />
                                                    <button type="submit" class="btn btn-success">Reply</button>
                                            }
                                        }
                                    </span>

                                <div class="comment-reply">

                                    @foreach (var reply in ViewBag.replies)
                                    {
                                        <div class="reply-text">
                                            @if (reply != null && reply.CommentId == comment.Id)
                                            {
                                                var replyImgUrl = Url.Content("~/Content/images/profile/" + reply.Author.UserName + ".png" + "? time=" + DateTime.Now);
                                                var replyImgDafault = Url.Content("~/Content/images/profile/dafault/default-profile-pic.gif");
                                                <p>
                                                    @{
                                                        if (File.Exists(Server.MapPath("~/Content/images/profile/" + reply.Author.UserName + ".png")))
                                                        {

                                                            <a href="/ApplicationUsers/Details/@reply.Author.Id"><img class="img-circle" src="@replyImgUrl" height="45" width="45" alt="profile-user" /> @reply.Author.UserName</a>
                                                        }
                                                        else
                                                        {

                                                            <a href="/ApplicationUsers/Details/@reply.Author.Id"><img class="img-circle" src="@replyImgDafault" height="45" width="45" alt="profile-default" /> @reply.Author.UserName</a>
                                                        }
                                                    }
                                                </p>

                                                <p>@reply.Text</p>
                                                <span class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true"></span>
                                                <span class="date">
                                                    <span class="glyphicon glyphicon-time"></span>
                                                    <small>@reply.Date</small>

                                                </span>
                                                        }


                                        </div>
                                                        }

                                </div>
                                                        //Session["commentId"] = comment.Id;
                                                        @*<div class="reply-form-controler" date role="reply-form">
                                                                <form class="reply-expanded">
                                                                    <div class="postbox"></div>
                                                                </form>
                                                            </div>*@
                                                            }
                                                        }
                    </div>
                                                        }
            </div>
        </dd>
    </dl>
</div>
<p>
    @if (Model.Author.UserName == User.Identity.Name || User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
    |
    @Html.ActionLink("Back to List", "Index")
</p>
