@model IEnumerable<MGVGBlog.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author.UserName)
        </th>
        <th></th>
    </tr>
    
@foreach (var post in ViewBag.posts) {
    <tr>
        <td>
            <h5><a href="/Posts/Details/@post.Id">@post.Title</a></h5>
        </td>
        <td>
            @MGVGBlog.Classes.Utils.CutText(post.Body, 600)
        </td>
        <td>
            @post.Date
        </td>
        <td>
            @post.Author.UserName
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = post.Id }) @:|
            }

            @*@Html.ActionLink("Details", "Details", new {id = post.Id})*@
            
            @if (User.IsInRole("Admin"))
            {
               @:| @Html.ActionLink("Delete", "Delete", new { id = post.Id })
            }
            
        </td>
    </tr>
}

</table>
