@model IEnumerable<MGVGBlog.Models.Post>

@{
    ViewBag.Title = "Posts";
}

<h2>Posts</h2>



@foreach (var post in ViewBag.posts) {
    <dl class="dl-horizontal">
        <dd>
            <h2><a href="/Posts/Details/@post.Id">@post.Title</a>
            </h2>
        </dd>
        <dd>
            <span class="glyphicon glyphicon-time"></span>
            <small class="date">@post.Date</small>
        </dd>
        <dd>
            @MGVGBlog.Classes.Utils.CutText(post.Body, 600)
        </dd>
        <dd>
            <a href="/ApplicationUsers/Details/@post.Author.Id">@post.Author.UserName</a>
        </dd>
        <dd>
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = post.Id }) @:|
            }

            @*@Html.ActionLink("Details", "Details", new {id = post.Id})*@
            
            @if (User.IsInRole("Admin"))
            {
               @:| @Html.ActionLink("Delete", "Delete", new { id = post.Id })
            }
            <hr />
        </dd>
    </dl>
}

</table>
